<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7567f1">  <td>20/09/10 12:04:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecast.fetch_and_report_in_html_file()[pri:0, instance:WeatherForecast@48503868]">fetch_and_report_in_html_file</td> 
  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/09/10 12:04:38</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecast.open_the_weather_forecast_website()[pri:0, instance:WeatherForecast@48503868]">open_the_weather_forecast_website</td> 
  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/09/10 12:04:56</td>   <td>18252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecast.search_the_city()[pri:0, instance:WeatherForecast@48503868]">search_the_city</td> 
  <td>main@2070529722</td>   <td></td> </tr>
</table>
